<div id="footer">
  <div class="footnav container">
    <div class="menu">
      <ul>
        友情链接：
        {pboot:link num=30 gid=1}<a href="[link:link]" target="_blank">[link:name]</a> {/pboot:link}
      </ul>
    </div>
  </div>
  <div class="copyright">
    <p>{pboot:sitecopyright} <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">{pboot:siteicp}</a> <a href="{pboot:sitedomain}/sitemap.xml" target="_blank">XML地图</a> <a href="http://www.adminbuy.cn" target="_blank">网站源码</a></p>
  </div>
</div>
</div>
<!--gototop-->
<div id="tbox"> <a id="gotop" href="javascript:void(0)"></a> </div>
<script type='text/javascript' src='{pboot:sitedomain}/skin/jquery.form.min.js'></script> 
<script type='text/javascript' src='{pboot:sitedomain}/skin/scripts.js'></script> 
<script type='text/javascript' src='{pboot:sitedomain}/skin/loostrive.js'></script>