<div id="head" class="row">
  <div class="mainbar row">
    <div class="container">
      <div id="topbar">
        <ul id="toolbar" class="menu">
          <li class="menu-item">  </li>
        </ul>
      </div>
      <div id="rss">
        <ul>
          <li><a href="http://wpa.qq.com/msgrd?v=3&uin={pboot:companyqq}&site=qq&menu=yes" target="_blank" class="icon4" title="在线QQ客服" rel="nofollow"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="container">
    <div id="blogname" class="third"> <a href="{pboot:sitedomain}" title="{pboot:sitetitle}">
      <h1>{pboot:sitetitle}</h1>
      <img src="{pboot:sitedomain}/skin/logo.png" alt="{pboot:sitetitle}" /></a> </div>
    </div>
  <div class="clear"></div>
</div>
<div class="mainmenus container">
  <div class="mainmenu">
    <div class="topnav"> <a href="{pboot:sitedomain}" title="首页" class="home_none">首页</a>
      <div class="menu-button"><i class="menu-ico"></i></div>
      <!--导航-->
      <ul class="menu">
        {pboot:nav num=15}
          <li class="menu-item {pboot:if('[nav:scode]'=='{sort:tcode}')}current-menu-item{/pboot:if}"> <a href="[nav:link]">[nav:name]</a>
           <ul class="sub-menu">
           {pboot:2nav num=10 parent=[nav:scode]}
           <li><a href="[2nav:link]">[2nav:name]</a></li>
           {/pboot:2nav}
           </ul>
          </li>
          {/pboot:nav}
      </ul>
      <!--导航 end-->
      <ul class="menu-right">
        <li class="menu-search"> <a href="#" id="menu-search" title="搜索"></a>
          <div class="menu-search-form ">
            <form action="{pboot:scaction}" method="get">
              <input name="keyword" type="text" id="search" value="" maxlength="150" placeholder="请输入搜索内容" style="width:135px">
              <input type="submit" value="搜索" class="button"/>
            </form>
          </div>
        </li>
      </ul>
      <!-- menus END --> 
    </div>
  </div>
  <div class="clear"></div>
</div>
