<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{pboot:sitetitle}</title>
<meta name="keywords" content="{pboot:sitekeywords}">
<meta name="description" content="{pboot:sitedescription}">
<meta name="author" content="www.adminbuy.cn K4"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<link rel='stylesheet' id='contact-form-7-css'  href='{pboot:sitedomain}/skin/styles.css' type='text/css' media='all' />
<link rel='stylesheet' id='responsive-lightbox-swipebox-front-css'  href='{pboot:sitedomain}/skin/swipebox.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='wp-pagenavi-css'  href='{pboot:sitedomain}/skin/pagenavi-css.css' type='text/css' media='all' />
<link rel='stylesheet' id='kube-css'  href='{pboot:sitedomain}/skin/kube.css' type='text/css' media='all' />
<script type='text/javascript' src='{pboot:sitedomain}/skin/jquery.min.js'></script>
<script type='text/javascript' src='{pboot:sitedomain}/skin/jquery.swipebox.min.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var rlArgs = {"script":"swipebox","selector":"lightbox","custom_events":"","activeGalleries":"1","animation":"1","hideCloseButtonOnMobile":"0","hideBars":"1","hideBarsDelay":"5000","videoMaxWidth":"1080","useSVG":"","loopAtEnd":"0"};
/* ]]> */
</script>
<script type='text/javascript' src='{pboot:sitedomain}/skin/front.js'></script>
<script type='text/javascript' src='{pboot:sitedomain}/skin/jquery.masonry.js'></script>
<link rel="stylesheet" type="text/css" href="{pboot:sitedomain}/skin/black.css" />
<style></style>
</head>
<body  class="custom-background">
<!--加载进度条--> 
<script type="text/javascript">
jQuery(function(){
jQuery('#loading-one').empty().append('页面载入完毕.').parent().fadeOut('slow');
});
</script>
<div id="main_loading"  onclick="javascript:turnoff('loading')">
  <p id="loading-one" onclick="javascript:turnoff('loading')">页面载入中...</p>
</div>
<script type="text/javascript">
//<![CDATA[
function turnoff(obj){
document.getElementById(obj).style.display="none";
}
//]]&gt;
</script> 
<!--加载进度条--> 
<!--head--> 
{include file=head.html} 
<!--head end-->
<div class="container">
  <div class="row"></div>
  <!--right--> 
  {include file=right.html} 
  <!--right end -->
  <div class="slider row"> 
    <!--幻灯-->
    <div id="focus">
      <ul>
        {pboot:list scode=* num=5 istop=1}
        <li> <a href="[list:link]" target="_blank" title="[list:title]"> <img src="[list:ico]" width="650" height="370" alt="111" /> </a>
          <div class="flex-caption">
            <h2><a href="[list:link]"  target="_blank" >[list:title]</a></h2>
            <p class="slides_entry"> [list:description lencn=80]</p>
            <p class="btn"><a href="[list:link]"  target="_blank" >查看详情</a></p>
          </div>
        </li>
        {/pboot:list}
      </ul>
    </div>
    <!--幻灯end --> 
  </div>
  <div class="mainleft">
    <ul id="post_container" class="masonry clearfix">
      {pboot:list scode=* num=18 order=date}
      <li class="post box row ">
        <div class="thumbnail"> <a href="[list:link]" class="zoom"  target="_blank" title="[list:title]"> <img src="[list:ico]" alt="[list:title]" />
          <div class="zoomOverlay"></div>
          </a> </div>
        <div class="article">
          <h2><a href="[list:link]"  target="_blank" title="[list:title]">[list:title]</a></h2>
        </div>
        <div class="info"> <span class="info_date info_ico">[list:date style=Y-m-d]</span> <span class="info_views info_ico">[list:visits] </span> 
          <span class="info_category info_ico"><a href="[list:sortlink]" rel="category">[list:sortname]</a></span> </div>
      </li>
      {/pboot:list}
    </ul>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
<!--footer--> 
{include file=foot.html} 
<!--footer  end-->
</body>
</html>