
<div id="sidebar">
  <div class="widget box row">
    <h3>NEWS</h3>
    <ul>
      {pboot:list num=10 scode={sort:scode} page=0}
      <li> <a href="[list:link]">[list:title lencn=20]</a> </li>
      {/pboot:list}
    </ul>
  </div>
  <div class="search box row">
    <div class="search_site">
      <form action="{pboot:scaction}" method="get" id="searchform">
        <input type="submit" value="" id="searchsubmit" class="button"/>
        <label><span>请输入搜索内容</span>
          <input type="text" class="search-s" name="keyword" />
        </label>
      </form>
    </div>
  </div>
  <div class="widget box row">
    <h3>微信公众帐号-扫一扫哦！</h3>
    <div class="textwidget"><a id="adv" rel="external" href="{pboot:siteindex}"> <img src="{pboot:sitedomain}/skin/weixin.jpg" /></a></div>
  </div>
  <div class="widget box row">
    <h3>推荐图文</h3>
    <div class="siderbar-list">
      <ul class="imglist clear">
        {pboot:list num=6 scode={sort:scode} page=0}
        <li class="post"> <a href="[list:link]" title="[list:title]"> <img src="[list:ico]" width="142" height="95" alt="[list:title]">
          <h4>[list:title lencn=18]</h4>
          </a> </li>
        {/pboot:list}
      </ul>
    </div>
  </div>
  <div class="widget box row">
    <h3>HOT TAGS</h3>
    <ul class='xoxo blogroll'>
      {pboot:tags num=20}
      <li><a href='[tags:link]'>[tags:text]</a></li>
      {/pboot:tags}
    </ul>
  </div>
  <div id="sidebar-follow"> </div>
</div>
